<%= form_tag question_answers_path(@question), class: "survey-question-form" do %>
<div class="question">
  <% colors = color_array %>
  <div class = "ui secondary black fluid button" id="question-asked"><h3><%= @question.content %></h3></div>
  <div class = 'answers'>

      <div class="ans"><%= submit_tag @question.answers[0].content, name: 'content', class: "button", id: selected_answer(@question.answers[0], current_user) %></div>

      <div class="ans"><%= submit_tag @question.answers[1].content, name: 'content', class: "button", id: selected_answer(@question.answers[1], current_user) %></div>

      <div class="ans"><%= submit_tag @question.answers[2].content, name: 'content', class: "button", id: selected_answer(@question.answers[2], current_user) %></div>

      <div class="ans"><%= submit_tag @question.answers[3].content, name: 'content', class: "button", id: selected_answer(@question.answers[3], current_user) %></div>

  </div>
</div>
<% end %>

<div class="ui icon message" id = "encouragement">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      Personalizing...
    </div>
    <p><%= encouragement %></p>
  </div>
</div>

<div class="survey-footer"><span id="qcount"><%= @question.id %> of 7</span><%= link_to "Take Later", root_path %></div>




