<div id="show">
  <p><strong>Origin: </strong><%= @trip.origin.address %></p>
  <p><strong>Destination: </strong><%= @trip.destination.address %></p>
  <p><strong>Routes: </p>
  <table>
    <thead>
      <tr>
        <th>Travel Mode</th>
        <th>Distance EXP</th>
        <th>Safety EXP</th>
        <th>Dollars EXP</th>
        <th>Actual Cost</th>
        <th>Weather EXP</th>
        <th>Weighted EXP</th>
      </tr>
    </thead>
    <tbody>
      <% @routes.each_with_index do |r,i| %>
      <% if i <= 2 %>
      <tr class='visible'>
        <% else %>
        <tr class='hidden'>
          <% end %>
          <td><%= r.travel_mode %></td>
          <td><%= r.distance_exp %></td>
          <td><%= r.safety_exp %></td>
          <td><%= r.dollars_exp %></td>
          <td>$<%= r.actual_cost %></td>
          <td><%= r.weather_exp %></td>
          <td><%= r.weighted_exp %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div id= 'show-more'>
      <%= link_to "more" %>
    </div>
  </div>
</div>
