  <div id= 'trip-info' class = 'ui inverted segment'>
    <p id = 'mode-choice'><%= suggestion(@routes) %></p>
    <% r = method_limiter(@routes)[0] %>
    <%= link_to(app_link(@trip,r)) do%>
    <div class = 'visible fluid massive ui inverted green button' id = "choice-0"><%= dollar_converter(r)%> <%= duration(r) %> min <%= travel_mode(r) %></div>
    <% end %>
  </div>

  <div id="show-result">
    <div class="results ui inverted segment">
      <% method_limiter(@routes)[1..-1].each_with_index do |r,i| %>
      <%= link_to(app_link(@trip,r)) do%>
      <% if i <= 2%>
      <div class='visible fluid ui small <%=color_selector(r)%> button' id = "choice-<%= i %> route-button">
        <% else %>
        <div class='hidden fluid ui small <%=color_selector(r)%> button' id = "choice-<%= i %> route-button">
          <% end %>
          <%= dollar_converter(r)%> <%= duration(r) %> min <%= travel_mode(r) %><!-- <i class= "<%=sym_placer(r)%>" ></i> -->
        </div>
        <% end %>
        <% end %>
        <% if method_limiter(@routes).length > 4 %>
        <div class = 'tiny fluid ui button' id = 'show-more'>More</div>
        <% end %>
      </div>
    </div >

