<div id="show">
  <p><strong>Origin: </strong><%= @trip.origin.address %></p>
  <p><strong>Destination: </strong><%= @trip.destination.address %></p>
  <p>Routes: </p>
  <div class="results">
    <table>
      <tbody>
        <% method_limiter(@routes).each_with_index do |r,i| %>
          <% if i <= 2 %>
            <tr class='visible'>
          <% else %>
            <tr class='hidden'>
          <% end %>
            <td><i class= "<%=sym_placer(r)%>" ></i> $:<%= r.actual_cost%></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <div id= 'show-more'>
    <%= link_to "more" %>
  </div>
</div >