<%= render 'layouts/error_message' %>
<div class="ui fluid form registration">
<%= form_for(@user) do |f| %>
  <div class="field registration">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field registration">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div class="field registration">
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="field registration">
    <%= f.password_field :password_confirmation, placeholder: "Re-enter Password" %>
  </div>
  <div class="create-user">
    <%= f.submit :class => "ui submit teal button"%>
  </div>
<% end %>
</div>
