<div class="ui form">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Re-enter Password" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
