
<div class="ui inverted menu">
  <div class="right menu">
    <%if current_user%>
    <%= link_to "Logout", logout_path, method: :delete, class: "item"%> <%= link_to "Profile", user_path(current_user), class: "item"%>
    <% else %>
    <%= link_to "Login", login_path, class: "item"%> <%= link_to "Register", new_user_path, class: "item"%>
    <% end %>
  </div>
  <div class="left menu">
    <img class="ui small image" src="./images/logo.png">
  </div>
</div>

<%= render 'layouts/flash' %>




