
<div id="navigation">
    <div id="logo">
    <%= link_to image_tag("logo.png", size: '120x165',class: "logo_bar"), root_path %>
  </div>
  <%= render 'layouts/flash' %>
</div>

<TABLE id="menu">
   <TR>
      <TD><%= link_to "Home", root_path %></TD>
   </TR>
   <TR>
      <TD><%= link_to "Logout", logout_path, method: :delete %></TD>
   </TR>
   <TR>
      <TD><%= link_to "Profile", user_path(current_user.id) %></TD>
   </TR>
   <TR>
      <TD><%= link_to "Login", login_path %></TD>
   </TR>
   <TR>
      <TD><%= link_to "Register", new_user_path %></TD>
   </TR>
</TABLE>

