
<div id="navigation">
  <div id="logo">
  </div>
  <div id="logged">
    <%if current_user%>
       <%= link_to "Logout", logout_path, method: :delete, class: "ui button", id: 'profile_buttons' %> <%= link_to "Profile", user_path(current_user), class: "ui button", id: 'profile_buttons' %>
    <% else %>
     <%= link_to "Login", login_path, class: "ui button", id: 'profile_buttons' %> <%= link_to "Register", new_user_path, class: "ui button", id: 'profile_buttons' %>
  <% end %>
  </div>
  <%= render 'layouts/flash' %>
</div>



