<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="user-scalable = yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic' rel='stylesheet' type='text/css'>


  <title>My<->Way</title>
</head>
<body>

  <div class="container">
    <%= render 'layouts/header' unless current_page?(question_path(@question))%>
    <%= yield %>
  </div>
</body>
<footer>
</footer>
</html>
